<!doctype html>
<html class="no-js" lang="en">

<head>
    <!--====== USEFULL META ======-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Aishwarya Kadam">
    <meta name="description" content="This web page asks the user to select the files and training configuration and provides results accordingly" />
    <meta name="keywords" content="Login, Blog, About Company, Contacts" />

    <!--====== TITLE TAG ======-->
    <title>ITCA Home</title>

    <!--====== FAVICON ICON =======-->
    <link rel="shortcut icon" type="image/ico" href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/img/logo.png" />

    <!--====== STYLESHEETS ======-->
    <link rel="stylesheet" href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/normalize.css">
   <link rel="stylesheet" href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/animate.css">
    <link rel="stylesheet" href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/stellarnav.min.css">
    <link rel="stylesheet" href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/owl.carousel.css">
    <link href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/bootstrap.min.css" rel="stylesheet">
    <link href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/font-awesome.min.css" rel="stylesheet">

    <!--====== MAIN STYLESHEETS ======-->
    <link href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/style.css" rel="stylesheet">
    <link href="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/CSS/responsive.css" rel="stylesheet">
    <script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body class="home-one">


    <!--- PRELOADER -->
    <div class="preeloader">
        <div class="preloader-spinner"></div>
    </div>

    <!--SCROLL TO TOP-->
    <a href="#home" class="scrolltotop"><i class="fa fa-long-arrow-up"></i></a>

    <!--START TOP AREA-->
	<header class="top-area single-page" id="home">
		<div class="top-area-bg" data-stellar-background-ratio="0.6"></div>
			<div class="header-top-area">
				<!--MAINMENU AREA-->
				<div class="mainmenu-area" id="mainmenu-area">
					<div class="mainmenu-area-bg"></div>
					<nav class="navbar">
						<div class="container">
						    <div class="navbar-header">
								<a href="#home" class="navbar-brand"><img src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/img/logo.png" alt="logo"></a>
						    </div>
							<div class="search-and-language-bar pull-right">
								<ul>
								<li><a href="#"><i class="fa fa-user"></i></a></li>
								<li class="search-box"><i class="fa fa-search"></i></li>
								<li><a href="#"><i class="fa fa-shopping-bag"></i></a></li>
								<li class="select-language">
								<select name="#" id="#">
								<option selected value="End">ENG</option>
								<option value="ARA">ARA</option>
								<option value="CHI">CHI</option>
								</select>
								</li>
								</ul>
								<form action="#" class="search-form">
    								<input type="search" name="search" id="search">
    								<button type="submit"><i class="fa fa-search"></i></button>
								</form>
							</div>
							<div id="main-nav" class="stellarnav">
								<ul id="nav" class="nav navbar-nav">
    								<li><a href="https://adasisuzu.com">home</a>
    								</li>
    								<li><a href="#">about</a>
    								<ul>
    								<li><a href="#company">About Company</a></li>
    								<li><a href="#team">About Team</a></li>
    								<li><a href="#name_of_target">About Support</a></li>
    								</ul>
    								</li>
    								<li><a href="#">ITCA Library</a>
    								<ul>
        								<li><a href="https://adasisuzu.com/technology">Technology Updates</a></li>
        								<li><a href="#">Developments and progress</a></li>
        								<li><a href="https://adasisuzu.com/translation">Document Translation</a></li>
    								</ul>
    								</li>
    								<li><a href="#">Data Analytics</a>
        								<ul>
            								<li><a href="https://adasisuzu.com/upload">New Prototype</a></li>
            								<li><a href="https://us-east-2.quicksight.aws.amazon.com/sn/dashboards/2595698e-f33b-486a-b553-9c89cd09c7af">Data Visualization</a></li>
            								<li><a href="https://adasisuzu.com/analysis">Driver behavior clustering</a></li>
            								<li><a href="https://adasisuzu.com/analysis">Piston Crack Analysis</a></li>
            								<li><a href="https://adasisuzu.com/analysis">OBD Prediction analysis</a></li>
            								<li><a href="https://adasisuzu.com/analysis">Auto-ML Automation</a></li>
        								</ul>
    								</li>
    								<li><a href="#name_of_blog">Blog</a></li>
    								<li><a href="https://adasisuzu.com/logout">Logout</a></li>
								</ul>
							</div>
						</div>
					</nav>
				</div>
			<!--END MAINMENU AREA END-->
            </div>
            <div class="welcome-area">
                <div class="area-bg"></div>
                <div class="container">
                    <div class="row flex-v-center">
                        <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
                            <div class="welcome-text text-center">
                                <h2>Data Analysis</h2>
                                <p>“The goal is to turn data into information, and information into insight.”</p>
                                <p> – Carly Fiorina, former executive, president, and chair of Hewlett-Packard Co.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </header>
	<!--END TOP AREA-->

	<!--Analysis AREA-->
    <section class="about-area gray-bg section-padding">
      	<div class="container">
        	<div class="row">
        		<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
        			<form action = "https://adasisuzu.com/analyze" method = "POST"
                             enctype = "multipart/form-data">
        				<div class="row">
        					<div class="blog-details">
        						<h3>File Selection</h3>
        						<div class="quote-form-area wow fadeIn">
        							<h6>Please upload the MMU data for training</h6>
        							<input id="fileupload" name="analysis_file" type="file" />
        						</div>
        					</div>
        				</div>
        				<div class="row">
        					<div class="blog-details">
        						<h3>Train configuration</h3>
        						<div class="quote-form-area wow fadeIn">
        						    <label for="method">Please select the ML algorithm</label>
                                        <select name="method">
										  <option class="disabled">No selection</option>
										  <option value="linearReg">Linear Regression</option>
										  <option value="lassoReg">Lasso Regression</option>
										  <option value="dectree">Decision Tree</option>
										</select>
									<h6>Choose whether to train or test the model</h6>
									<input type="radio" id="train" name="model" value="train">
										<label for="train">Train model</label><br>
            						<input type="radio" id="test" name="model" value="test">
            							<label for="test">Test model</label>
								</div>
							</div>
						</div>
						<button type="submit" value="submit" class="read-more">Submit</button>
					</form>
				</div>
				<h3>View Analysis</h3>
 				<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                     <div class="blog-details">
                	    <img src="https://www.pythonanywhere.com/user/isuzu/files/home/isuzu/mysite/coolant_temperature.png" alt="image" style="width:300px;height:300px;">
						 <table>
							 {% for l in loss %}
								 <tr>
									 <td>{{l}}</td>
								 </tr>
							 {% endfor %}
						 </table>
                     </div>
             	</div>
				<div class="col-md-4 col-lg-4 col-sm-6 col-xs-12">
                    <div class="blog-details">
                		<h5>Evaluation metrics</h5>
                		<p>Accuracy : 86%<br></p>
                        <p>Precision: 78%<br></p>
						<p>Recall: 76%<br></p>
						<p>F1-score: 80%</p>
					</div>
				</div>

				</div>
			</div>
		</div>

    </section>
<!--Analysis AREA END-->

	<!--FOOTER AREA-->
	<div class="footer-area dark-bg">
		<div class="footer-area-bg"></div>
		<div class="footer-bottom-area wow fadeIn">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-lg-3 col-sm-6 col-xs-12">
                        <div class="single-footer-widget footer-about">
                            <a name="name_of_target"><h3>Contact Information</h3></a>
                                <ul>
                                    <li><i class="fa fa-phone"></i>  +1734-455-7595</li>
                                    <li><i class="fa-envelope"></i> <a href="mailto:info@isuzutechcenter.com">info@isuzutechcenter.com</a></li>
                                    <li><i class="fa fa-map-marker"></i> Isuzu Technical Center of America,Inc.<br>
                                                                         46401 Commerce Center Drive <br>
                                                                         Plymouth, MI 48170</li>
                                </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

	<!--FOOTER AREA END-->


<!--====== SCRIPTS JS ======-->

<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/jquery-1.12.4.min.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/bootstrap.min.js"></script>

<!--====== PLUGINS JS ====== -->
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/jquery.easing.1.3.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/jquery-migrate-1.2.1.min.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/vendor/jquery.appear.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/owl.carousel.min.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/stellar.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/wow.min.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/stellarnav.min.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/contact-form.js"></script>
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/jquery.sticky.js"></script>

<!--===== ACTIVE JS===== -->
<script src="https://zappa-q8s9hsqwq.s3.amazonaws.com/static/js/main.js"></script>

</body>
</html>
